[Desktop Entry]
Name=OrangeScrum {{ domain }} ({{ profile|upper }})
Exec=/usr/bin/google-chrome-stable --user-data-dir=/tmp/chrome-{{ domain }}-{{ profile }} --host-rules="MAP *.{{ domain }} {{ target_ip }}" --ignore-certificate-errors
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Development;
Comment=Access {{ domain }} via {{ profile|upper }} ({{ target_ip }})
